<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyi.shiro.mapper.GetMapper">


	<select id="getShiroUserByName" parameterType="String"
		resultType="com.zhiyi.shiro.model.Shiro_User">
		SELECT * FROM shiro_user WHERE
		userName=#{userName}
	</select>
    <select id="getUserRolesByName" parameterType="String"
            resultType="com.zhiyi.shiro.model.Shiro_User_Role">
		SELECT * FROM shiro_user_role WHERE
		userName=#{userName}
	</select>


</mapper>
